/POO/JavaApplication33/nbproject/private/
/POO/Aula06/nbproject/private/
/POO/Aula06/build/
/POO/Aula07/nbproject/private/
/POO/UltraEmojiCombat/nbproject/private/
/POO/UltraEmojiCombat/build/
/POO/ProjetoLivro/nbproject/private/
/POO/ProjetoLivro/build/
/POO/ProjetoPessoas/nbproject/private/
/POO/ProjetoPessoas/build/
/POO/Aula011/nbproject/private/
/POO/Aula11/nbproject/private/
/POO/Aula11/build/
/POO/Aula12/nbproject/private/
/POO/Aula12/build/
/POO/Aula13/nbproject/private/
/POO/Aula13/build/